<launch>
  <param name="use_sim_time" value="false" />

  <!--<include file="$(find segwayrmp)/launch/segwayrmp_configuration.launch" />-->

  <!-- Run the map server -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find segwayrmp)/maps/mymap.pgm my_map_resolution"/> -->
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find cps_rmp220_support)/maps/map.yaml"/> -->

  <!--move base-->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segwayrmp)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segwayrmp)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find segwayrmp)/param/base_local_planner_params.yaml" command="load" />
    <!-- scan topic -->
    <remap from="scan" to="scan_filtered"/>
    <!-- remap cmd_vel -->
    <remap from="cmd_vel" to="nav_vel"/>
    <!-- remap odom -->
    <remap from="odom" to="/robot_pose_ekf/odom_combined"/>
  </node>

  <!-- TF -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.10 0.0 0.12 3.14 0.0 0.0 base_link laser 100"/>
  static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->  
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.5 0 0 0 base_link base_footprint 50" /> -->

</launch>