<launch>
    <!-- Set the use_sim_time parameter -->
    <param name="use_sim_time" value="false" />

    <!-- Set the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find cps_rmp220_support)/description/robot.urdf.xacro use_ros_control:=true sim_mode:=$(arg use_sim_time)" />

    <!-- Start the robot state publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- Start the joint state publisher node -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
</launch>
