<launch>
 
    <!-- Set the robot description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find cps_rmp220_support)/description/robot.urdf.xacro" />

    <!-- Start the robot state publisher node -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

    <!-- Start the joint state publisher node -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 odom base_link 40" /> -->
</launch>
